@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #184053;
}

#hexLabel {
  background-color: azure;
  padding: 2px;
  border-radius: 2px;
  color: black;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;

  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ff8038;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff650c;
}
::-webkit-scrollbar-thumb:active {
  background: #be4600;
}

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 68px);
  }
  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent;
  }
}
